.modal-title{
  font-size: 6vh;
};

.modal-text{
  color: white;
  font-family: 'Didact Gothic', sans-serif;
};

.texto{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  
}

.vl {
  border-left: 6px solid whit;
  height: 50px;
  width: 10px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}