.modal-title{
  font-size: 6vh;
};

.modal-text{
  color: white;
  font-family: 'Didact Gothic', sans-serif;
};

.texto{
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  
}

.bigger-text{
  font-size: 2rem !important;
}

.titulo-modal{
  font-family: 'Allerta Stencil', sans-serif !important;
}