.card {
    margin: 5px 5px;
    background-color: black !important;
    color: white;
    width: 300px;
  }
  .card-title{
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* Flip Cards CSS */
  .card-container {
    perspective: 1200px;
  }

  .books {
    display: flex;
    flex-wrap: wrap;
  }
  
  .book {
    position: relative;
    width: 300px;
    margin: 3%;
  }
  
  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.9s ease;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .front {
    grid-area: frontAndBack;
    transform: rotateY(0deg);
    box-shadow: 0px 0px 10px 3px rgb(158, 158, 158);
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px 3px rgb(158, 158, 158);
  }
  
  .card-container .card-flip:hover {
    transform: rotateY(180deg);
  }