/* make the customizations */
$theme-colors: (
    "danger": #FF6B83,
    "success": #81FFC8,
    "primary": #649CFC,
    "secondary": #DCE6F2,
    "dark": black,
    "light": #DCE6F2,
);

$body-bg: #000;

.badge{
    background-color: #b8cbe2;
    color: #000000;
  }



h1{
    color: white;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
};

h6{
    color: white;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
};

h2{
    color: white;
    font-family: 'Sulphur Point', sans-serif;
};

h3{
    color: black;
    font-family: 'Sulphur Point', sans-serif;
};

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
};


label{
    color: white;
    font-family: 'Montserrat', sans-serif;
};

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";