<<<<<<< HEAD
body {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


=======
/*NO BORRAR*/
>>>>>>> a0f2cdf9ba5b7e525d6f9797581092cc422bcea8
